<section ng-controller="HomeController">
  <div class="jumbotron text-center">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
        <img alt="PRO SERVICE" class="img-responsive text-center" src="modules/core/client/img/brand/logo.png" />
      </div>
    </div>
    <br>
    <div class="row">
      <p class="lead">
        INVENTORY MANAGER
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <h2><strong>R</strong>eliable</h2>
      <p>Reliable  database and Online data storage</p>
    </div>
    <div class="col-md-3">
      <h2><strong>E</strong>xpress</h2>
      <p>Fast and Accurate</p>
    </div>
    <div class="col-md-3">
      <h2><strong>UX & UI</strong></h2>
      <p>An easy to use web application</p>
    </div>
    <div class="col-md-3">
      <h2><strong>B</strong>ilingual</h2>
      <p>Web content rendered in both French & English Languages</p>
    </div>
  </div>
</section>
